<div class="m-3">
    <form action="/note" method="POST">
        {{!-- <label  class="form-label fs-4">Save your note</label> --}}
          <input type="text" class="form-control mb-2" name="title"   placeholder="Title">
          <input type="text" class="form-control mb-2" name="author"   placeholder="Author(optional)">

        <textarea placeholder="Enter Your Note" class="form-control" name="note"  rows="8"></textarea>
        <button type="submit" class="btn btn-primary mt-3">Save</button>
    </form>
</div>