<div class="m-5">
    <form action="/note" method="POST">
        <label for="exampleFormControlTextarea1" class="form-label fs-3">Enter your note</label>
        <textarea class="form-control" name="note" id="exampleFormControlTextarea1" rows="8"></textarea>
        <button type="submit" class="btn btn-primary mt-3">Save</button>
    </form>
</div>