<div class="m-5">
    <label for="exampleFormControlTextarea1" class="form-label fs-3 ">Note</label>
    <textarea class="form-control " name="note" id="exampleFormControlTextarea1" rows="8" disabled
        readonly>{{note}}</textarea>
</div>