<div class="view_note m-3">
<label  class="form-label fs-3 fw-4 fw-semibold">{{title}}</label>
<label  class="form-label ">{{author}}
{{date}}</label>
    

    {{!-- <textarea class="form-control " name="note" id="exampleFormControlTextarea1" rows="8" disabled
        readonly></textarea>  --}}
<label class="form-label ">{{note}}</label> 
</div>